<div class="header">
  <a href="/" class="title-link">
    <h1 class="title">CINEMATCH</h1>
  </a>
  <div class="buttons" *ngIf="type == 'classic'">
    <app-button text="SIGN IN" type="border_red" routerLink="/signin" />
    <app-button text="SIGN UP" type="red" routerLink="/signup" />
  </div>
  <div *ngIf="type == 'signin'" class="text">
    <span>New member?</span>
    <a routerLink="/signup">Sign up</a>
  </div>
  <div *ngIf="type == 'signup'" class="text">
    <span>Already have an account?</span>
    <a routerLink="/signin">Sign in</a>
  </div>
  <div *ngIf="type == 'user_home'">
    <div class="row">
      <app-input-search />
      <app-or-separator />
      <app-button type="red" text="Movies swipe" routerLink="/movies-swipe/start" />
    </div>
  </div>
  <div *ngIf="type == 'user_home'">
    <app-avatar class="avatar" />
  </div>
  <div *ngIf="type == 'user_classic'">
    <app-avatar class="avatar" />
  </div>
</div>