<div class="movie-card">

  @if (content?.title){
    <h1 class="movie-title">{{content?.title}}</h1>
  } @else {
    <h1 class="movie-title">Title of the movie</h1>
  }

  <div class="movie-poster">
    @if (content?.backdrop) {
      <img src="{{content?.backdrop}}" alt="No backdrop">
    } @else {
      <img src="https://image.tmdb.org/t/p/w1280/87by4ML34HQtillQr9yIhdEvDjC.jpg">
    }

  </div>

  <div class="movie-info">

    @if (content?.content_type){
      <h3>Description - {{content?.content_type}}</h3>
    } @else {
      <h3>Description - TV SHOW -

        @if (isSeen){
          ✔
        } @else {
          ❌
        }

      </h3>
    }
    <div class="genre-container">

      @if (content?.genres){
        @for (genre of content?.genres; track genre){
          <span class="genre-label">
                {{ genre }}
            </span>
        }
      } @else {
        @for (genre of genres; track genre){
          <span class="genre-label">
                {{ genre }}
            </span>
        }
      }


    </div>

    @if(content?.vote_average){
      <div class="grade">{{content?.vote_average}}/10</div>
    } @else {
      <div class="grade">8.5/10</div>
    }


  </div>

  <div class="movie-description-container">

  @if (content?.overview){
  <div class="movie-description">
    {{content?.overview}}
  </div>
  } @else {
    <div class="movie-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu faucibus velit,
      sit amet pulvinar velit. Etiam velit nibh, feugiat quis, quam a, vulputate tempus nisi.
      Curabitur consectetur at nibh at aliquet. Suspendisse semper ligula ullamcorper, lacinia
      orci vitae, vulputate dui. Mauris ullamcorper massa nec nisl bibendum sodales.
    </div>
  }

  </div>

  <div class="rating-container">
    <div class="rating-label">Your grade : {{ userRating }} / 10</div>
    <input
      disabled="false"
      type="range"
      min="0"
      max="20"
      step="1"
      [(ngModel)]="sliderValue"
      (input)="updateRating()"
      class="rating-slider">

    <app-button type="red" text="Submit grade" (click)="submitGrade()"/>
  </div>
</div>
