<app-home-header type="user_home" />
<div class="notifications">
  <app-notification-card type="Session" *ngFor="let session of session_invitation" [user_id]="session.owner_id"
    [user_username]="session.owner_username" [session_id]="session.session_id" (refreshParent)="refreshComponent()" />
  <app-notification-card type="Friend" *ngFor="let friend of friends_invitation" [user_id]="friend.user_id"
    [user_username]="friend.user_username" (refreshParent)="refreshComponent()" />
</div>

<div class="columns">
    <div class="filter-column">
        <app-filter-list class="filter" title="Genres" [width]="10"
                         [elements]='genres'
                         (selectedValues)="onFiltersChanged('genres',$event)"/>
        <app-filter-list class="filter" title="Type" [width]="10" [elements]='["Movie","Show"]'
                         (selectedValues)="onFiltersChanged('type',$event)"/>
        <app-filter-list class="filter" title="Friends" [width]="10" [elements]='friends_username'
                         (selectedValues)="onFiltersChanged('friends',$event)"/>
        <app-filter-list class="filter" title="Not seen by" [width]="10" [elements]='friends_username'
                         (selectedValues)="onFiltersChanged('not_seen',$event)"/>
    </div>
    <app-moovie-display class="main-column"/>
</div>

<app-home-footer/>