.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  gap: 20px;
  column-gap: 20px;
  padding: 0 5vw 10vh 5vw;
  margin-top: 110px;
}

.nothing {
  display: flex;
  margin-top: 110px;
  width: 100%;
  height: calc(100% - 110px - 2 * 1.3em);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3em;
  font-family: "Montserrat", serif;
}