<app-home-header></app-home-header>

<div class="movie-card">

  <h1 class="movie-title">About us</h1>

  <div class="movie-description-container">

    <div class="movie-description">
      We're a group of 4 Cloud Computing students whose project was to develop an application for recommending films and
      series. In the group, 2 students are specialized in backend, 1 student specialized in frontend and a last student
      working on frontend and backend and also on the Figma model. We hope you enjoy our work.
    </div>

  </div>


</div>


<app-home-footer></app-home-footer>

